.topnav{
  background-color: rgb(161, 222, 250);
 overflow:hidden;
}

.topnav a{
  color: #905DC1;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px
}

.topnav a:hover{
  background-color:aliceblue;
  color: #E25CAB;
}

body{
  background-color: lavenderblush;
  color: rebeccapurple;
  text-align:center;
}

.desc{
  font-size: 20px;
}

.gallery{
  margin: 80px;
  float:left;
  border: 2px solid darkcyan;
}

.gallery:hover{
  border: 3px solid mediumpurple;
}