.topnav{
  background-color: #ffcb8f;
 overflow:hidden;
}

.topnav a{
  color: #d18400;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px
}

.topnav a:hover{
  background-color:#ffdbdb;
  color: #35878d;
}

body{
  background-color: lightyellow;
  color: #d6a400;
  text-align: center;
}

p{
  color:#c86b14;
  font-size:28px;
  margin: 25px;
}

h1{
  font-size: 40px;
}